*{
    margin: 0;
    padding: 0; 
}
.first-section{
    background-color: #1F2937;
    color: white;
    padding: 1em 13em;

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 12px;
}


.content{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 7em 0;
    gap: 2em;
}

.left-side{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
button {
    margin-top: 8px;
    width: 125px;
    height: 30px;
    padding: 5px;
    background-color: #3882f6;
    border-radius: 25px;
    border: none;
    font-weight: 900;
    color: white;
}
.right-side .content{
    flex-shrink:0;
    width: 50%;
}
img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}


.second-section{
    padding: 1em 8em;
}
.header1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.middle {
    display: flex;
    justify-content: center;
    gap: 2px;
    align-items: center;
}
.container{
    padding: 25px;
    max-width: 140px;
}
.box{
    border-radius: 25px;
    border: 5px solid #3882f6;
    width: 125px;
    height: 125px;
}
.text{
    color: #1F2937
}

.third-section{
    padding: 5em 12em;
    background-color:  #e5e7eb ;
}
.left-text{
    display: flex;
    padding: 10px;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    justify-content: center;
    align-items: center;
}
.right-text{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #1F2937;
    padding: 0 40px;
    
}